* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.navbar {
  padding: 10px 20px;
  background-color: #5f1818;
  margin-bottom: 20px;
}

.navbar-menu {
  display: flex;
  justify-content: space-evenly;
}

.nav-link {
  color: #ffff;
}

.nav-link:hover {
  border-bottom: 1px solid #ffff;
  transition: all 0.3s ease-in-out;
}

.avatar {
  border-radius: 50%;
  max-width: 200%;
  height: 100px;

}