/* Remove underline from links */
.nav-link {
  text-decoration: none !important;
  transition: 0.3s ease;
  padding: 6px 20px;
  border-radius: 8px;
  /* Rounded border */
  opacity: 0.75;
  /* Light opacity */
  border: none !important;
}

/* Hover effect */
.nav-link:hover {
  background-color: #a2a2a8 !important;
  color: #ffffff !important;
  opacity: 1;
  /* Hover par full visible */
}

/* Active link */
.nav-link.active {
  background-color: #5d63f1 !important;
  font-weight: 600;
  opacity: 1;
}





/* ===== About Section ===== */
#about-section {
  background: #111026;

}



/* ===== Cursor Effect ===== */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-section {
  animation-duration: 1s;
  animation-fill-mode: both;
}


/*  Cursor */
/* ==== GLOW CURSOR ==== */
body {
  cursor: none;
}

/* Cursor Dot */
.glow-cursor {
  position: fixed;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  pointer-events: none;
  background: rgba(93, 99, 241, 0.95);
  box-shadow: 0 0 25px rgba(93, 99, 241, 0.5);
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: transform 0.15s ease-out;
}

/* On Hover Elements */
.glow-hover {
  transform: translate(-50%, -50%) scale(2.4);
  box-shadow: 0 0 35px rgba(93, 99, 241, 0.9);
}
